# dependencies
node_modules/
.yarn/*
!.yarn/patches
.pnp.*

# builds
.next/
out/
dist/
build/
apps/extension/dist/

# env
.env
.env*.local
!.env.example

# drizzle
apps/web/drizzle/meta/_journal.json.bak

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.turbo
coverage/
*.tsbuildinfo
next-env.d.ts
